h1 {
	font-family: Oswald, serif;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0.25em;
	line-height: 1em;
}

a {
	text-decoration: none;
	border-bottom: 1px solid white;
}

h1 a {
	color: white;
	border-bottom: 0 none;
}

h1 a:hover {
	border-bottom: 3px solid white;
}

input {
	background: transparent;
	border: none;
	border-bottom: 3px solid white;
	color: white;
	padding: 0.5em 0;
	font-size: 1.2em;
}

/* Page: Index */

.page.index {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(http://farm5.staticflickr.com/4141/4742836602_eecca779e7_o.jpg) no-repeat center center;
	background-size: cover;
}

.page.index p,
.page.index h1,
.page.index input {
	text-shadow: black 0 1px 0;
}

.page.index p,
.page.index h1,
.page.index input,
.page.index a {
	color: #fff;
}

.page.index header,
.page.index .description,
.page.index footer {
	position: absolute;
	padding: 3em;
}

.page.index header {
	top: 0;
	left: 0;
	padding: 4em 3em;
}

.page.index header h1 {
	font-size: 4em;
}

.page.index input {
	width: 100%;
}

.page.index .description {
	top: 3em;
	right: 3em;
	max-width: 20em;
	background: rgba(0,0,0,0.6);
	padding: 1.5em;
}

.page.index .description p {
	font-size: 1.4em;
	margin-bottom: 0.2em;
}

.page.index p {
    margin: 0;
}

.page.index footer {
  bottom: 0;
  left: 0;
  line-height: 1.5em;
  padding-bottom: 2em;
}

.page.index footer .photo-credit {
	opacity: 0.5;
}

/* Page: Topic */

.page.topic header,
.page.topic .map,
.page.topic footer {
	position: absolute;
	left: 0;
	right: 0;
}

.page.topic header {
	top: 0;
	height: 2.6em;
	background: #333;
}

.page.topic header h1 {
	float: left;
	padding: 0.375em 1em 0em;
	font-size: 1.5em;
}

.page.topic header input {
	padding: 0.64em 0 0.35em;
}

.page.topic .map {
	top: 2.6em;
	bottom: 2.6em;
}

.page.topic .map .leaflet-container {
	height: 100%;
}

.page.topic footer {
	height: 2.6em;
	background: #333;
	bottom: 0;
}

.page.topic footer .slider {
	margin: 0.75em 2em;
}
